:root {
    /* Base colors */
    --tp-base-background-color: hsl(0, 0%, 0%);
    --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
    
    /* Button-like control colors */
    --tp-button-background-color: hsl(0, 0%, 70%);
    --tp-button-background-color-active: hsl(0, 0%, 85%);
    --tp-button-background-color-focus: hsl(0, 0%, 80%);
    --tp-button-background-color-hover: hsl(0, 0%, 75%);
    --tp-button-foreground-color: var(--tp-base-background-color);
    
    /* Folder colors */
    --tp-folder-background-color: hsl(0, 0%, 10%);
    --tp-folder-background-color-active: hsl(0, 0%, 25%);
    --tp-folder-background-color-focus: hsl(0, 0%, 20%);
    --tp-folder-background-color-hover: hsl(0, 0%, 15%);
    --tp-folder-foreground-color: hsl(0, 0%, 50%);
    
    /* Input control colors */
    --tp-input-background-color: hsl(0, 0%, 10%);
    --tp-input-background-color-active: hsl(0, 0%, 25%);
    --tp-input-background-color-focus: hsl(0, 0%, 20%);
    --tp-input-background-color-hover: hsl(0, 0%, 15%);
    --tp-input-foreground-color: hsl(0, 0%, 70%);
    --tp-input-guide-color: hsla(0, 0%, 100%, 5%);
    
    /* Monitor control colors */
    --tp-monitor-background-color: hsl(0, 0%, 8%);
    --tp-monitor-foreground-color: hsl(0, 0%, 48%);
    
    /* Misc */
    --tp-label-foreground-color: hsl(0, 0%, 50%);
    --tp-separator-color: hsl(0, 0%, 10%);
  }